<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  {{message}}</div>
<div>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="auteur">
    <div fxLayout="column" fxLayoutAlign="space-around start">
    <mat-radio-button class="example-radio-button" *ngFor="let auteur of auteurs" [value]="auteur.name">
      {{auteur.name}}
    </mat-radio-button>
    </div>
  </mat-radio-group>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>{{cancel}}</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial color="warn">{{confirm}}</button>
</div>
