<form [formGroup]="form" (ngSubmit)="ONSUB()">
  <p>
    <mat-form-field appearance="legacy">
      <input matInput placeholder="CIN" formControlName="cin">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <input matInput placeholder="NAME" formControlName="name">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <input matInput placeholder="CV" formControlName="cv">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <input matInput placeholder="TYPE" formControlName="type">
    </mat-form-field>
  </p>
  <button mat-raised-button color="primary" type="submit" >submit</button>
</form>
